version: "3.8"
services:
  elasticsearch:
    image: elasticsearch:8.11.0
    container_name: elasticsearch_market
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
      - ./elasticsearch/config/analysis:/usr/share/elasticsearch/config/analysis

  kibana:
    image: kibana:8.11.0
    container_name: kibana_market
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
  db:
    image: postgres:16
    container_name: marketplace-postgres
    environment:
      POSTGRES_DB: marketplace
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  elastic_data:
  pgdata: